<mat-sidenav-container>
  <mat-sidenav  #sidenav role="navigation">
   <mat-nav-list>
    <a mat-list-item routerLink="/register">
      <mat-icon class="icon">input</mat-icon>
        <span class="label"> Register</span>
    </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
     <div fxHide.gt-xs>
       <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
     <div>
       <a routerLink="/">
          Auctions RIT II 21
       </a>
     </div>
     <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
        <ul fxLayout fxLayoutGap="30px" class="navigation-items">
            <li>
              <a routerLink="/register">
                  <mat-icon class="icon">input</mat-icon>
                  <span class="label">Register</span>
              </a>
            </li>
        </ul>
     </div>
    </mat-toolbar>
    <main>
      <mat-card fxLayoutAlign="center center">
          <form [formGroup]="loginForm" (submit)="submit()">
            <div fxLayout="column" fxFlex fxLayout.lt-sm="column" fxLayoutGap="0px">
              <mat-form-field class="form-field" appearance="outline">
                <mat-label> Enter username
                </mat-label>
                <input matInput formControlName="username" required>
                <mat-error *ngIf="loginForm.controls.username.touched && loginForm.controls.username.invalid">
                  <span *ngIf="loginForm.controls.username.errors?.required">This field is mandatory.</span> 
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-field" appearance="outline">
                <mat-label> Password
                </mat-label>
                <input matInput formControlName="password" type="password">
                <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
                  <span *ngIf="loginForm.controls.password.errors?.required">This field is mandatory.</span> 
                </mat-error>
              </mat-form-field>
              <button mat-raised-button  color="primary"  type="submit">Log In</button>
              <button mat-raised-button  color="primary" routerLink="/register">New? Register</button>
            </div> 
          </form>
      </mat-card>
      <mat-card class="error" fxLayoutAlign="center center" *ngIf="errorMessage" >
      	Invalid user Name or Password. 	
      </mat-card>	
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>


