<mat-sidenav-container>
  <mat-sidenav  #sidenav role="navigation">
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
     <div fxHide.gt-xs>
       <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
     <div>
       <a routerLink="/">
          Auction RIT II 21
       </a>
     </div>
     <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li>
                <a
                  routerLink="/auction">
                    <mat-icon class="icon">dashboard</mat-icon>
                    <span class="label">auction</span>
                </a>
              </li>
            <li>
                <a>
                  <mat-icon class="icon">input</mat-icon>
                  <span class="label">LogOut</span>
                 </a>
            </li>
        </ul>
     </div>
    </mat-toolbar>
    <main>
	    <mat-card fxLayoutAlign="center center">
          <form [formGroup]="itemForm" (submit)="submit()">
            <div fxLayout="column" fxFlex fxLayout.lt-sm="column" fxLayoutGap="0px">
              <mat-form-field class="form-field" appearance="outline">
                <mat-label> Description
                </mat-label>
                <input matInput formControlName="description" required>
                <mat-error *ngIf="itemForm.controls.description.touched && itemForm.controls.description.invalid">
                  <span *ngIf="itemForm.controls.description.errors?.required">This field is mandatory.</span>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-field" appearance="outline">
                <mat-label> Starting bid value
                </mat-label>
                <input matInput formControlName="currentbid" required>
                <mat-error *ngIf="itemForm.controls.currentbid.touched && itemForm.controls.currentbid.invalid">
                  <span *ngIf="itemForm.controls.currentbid.errors?.required">This field is mandatory.</span>
                  <span *ngIf="itemForm.controls.currentbid.errors?.pattern">This must be a positive number.</span>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-field" appearance="outline">
                <mat-label> Buy now Value
                </mat-label>
                <input matInput formControlName="buynow" required>
                <mat-error *ngIf="itemForm.controls.buynow.touched && itemForm.controls.buynow.invalid">
                   <span *ngIf="itemForm.controls.buynow.errors?.required">This field is mandatory.</span>
                   <span *ngIf="itemForm.controls.buynow.errors?.pattern">This must be a positive number.</span>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-field" appearance="outline">
                <mat-label> Duration (in seconds)
                </mat-label>
                <input matInput formControlName="remainingtime" required>
                <mat-error *ngIf="itemForm.controls.remainingtime.touched && itemForm.controls.remainingtime.invalid">
                  <span *ngIf="itemForm.controls.remainingtime.errors?.required">This field is mandatory.</span>
                  <span *ngIf="itemForm.controls.remainingtime.errors?.pattern">This must be a positive number.</span>
                </mat-error>
              </mat-form-field>
              <button mat-raised-button  color="primary" [disabled]="!itemForm.valid" type="submit">Insert Item</button>
              <button mat-raised-button color="primary" type= "button" (click)="clearForm()">Clear</button>
            </div>
          </form>
      </mat-card>
      <mat-card class="error" fxLayoutAlign="center center" *ngIf="errorMessage" >
        {{errorMessage}}
      </mat-card>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

